PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/educare_ai
JWT_SECRET=change_this_to_a_long_random_secret_key
JWT_EXPIRES_IN=7d
PYTHON_PATH=python
ML_MODEL_PATH=./ml/student_examscore_model.joblib
ML_SCRIPT_PATH=./ml/predict.py
STUDENT_DEFAULT_PASSWORD_PATTERN={studentCode}@Educare
STUDENT_EMAIL_DOMAIN=student.educare.edu.vn
